section#stock_section {
	width: 100%;
	position: sticky;
	top: 0;
	background-color: white;
	opacity: 0.9;
	z-index: 10;
	padding-top: 2rem;
}

#stock_header {
}

#stock_info {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	vertical-align: top;
}
.xsmall_text_eng {
	font-size: 0.75rem /* 12px */;
	line-height: 1rem /* 16px */;
}
.small_text_eng {
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
	font-weight: 600;
}
.x3large_text {
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
}
.small_text_kor {
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
	font-weight: 500;
}
#market_kor {
	--tw-text-opacity: 1;
	color: rgb(75 85 99 / var(--tw-text-opacity)) /* #4b5563 */;
}
.xlarge_text_kor {
	font-size: 1.25rem /* 20px */;
	line-height: 1.75rem /* 28px */;
	font-weight: 500;
}
#stock_price_row {
	display: flex;
	flex-direction: row;
	vertical-align: top;
	gap: 0.25rem;
}
#stock_price {
	font-weight: bold;
}

#stock_gap_percent {
	display: flex;
	flex: row;
	gap: 1rem /* 16px */;
}

.stock_data_text {
	font-weight: 600;
}
#currency {
	font-weight: bold;
}
