.screen {
	width: 100vw;
	height: 100vh;
}

.layout {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}
#root_layout.layout {
}
section#chat_section {
	display: flex;
	height: 100%;
	min-width: 350px;
}

section#content_section {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	position: relative;
	padding: 0 1rem 2rem 2rem;
	
}

.spacer_10 {
	height: 3rem;
}
