#x_section {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	overflow: clip;
	padding: auto;
}

.x3large_text {
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
}
#x_scroll_layout {
	display: flex;
	flex: row;
	gap: 1rem;
	overflow: scroll;
}
