:root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;

	overflow: clip;
}
.text_box {
	text-size-adjust: 100%;
}
.text_md {
	font-size: 1rem /* 14px */;
	font-family: inherit;
}

.text_sm {
	font-size: 0.875rem /* 14px */;
	line-height: 1.25rem /* 20px */;
	font-family: inherit;
}

.text_xs {
	font-size: 8px;
	font-family: inherit;
}
.text_lg {
	font-size: 1.25rem;
}
.text_3xl {
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
}
.kor {
	font-weight: 500;
}
.eng {
	font-weight: 600;
}

.text_bold {
	font-weight: bold;
}
.border_gray {
	border: solid 1px rgb(207, 217, 222);
}

.section_title {
	font-size: 1.875rem /* 30px */;
	line-height: 2.25rem /* 36px */;
	font-weight: 800;
}
